body{
    margin:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(238, 238, 235);
    font-family: 'Poppins', sans-serif;
}

.layout {
    /* align-items: left; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items:flex-start; */
    padding-top:3rem;
    width: 700px;
    height: 500px;
    background-color: white;
    justify-content: center;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
}

.container{
    display: inline-flex;
    text-align: left;
    margin-left: 50px;
    
}
.input-box {

    display: inline-block;
    width:25%; 
    padding-right:20px;
    margin-bottom: 1.5rem;
    text-align: left;
   
}

input {
    color:rgb(92, 90, 90);
    border-radius:7px;
    border:none;
    border:solid 1px #cfcdcd;
    width:100px;
    height:50px;
    padding-left: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 800;
}
.tt{
    color:rgb(104, 100, 100);
    font-weight: 900;
    font-size:15px;
}
hr{
    border: none;
    border-top: 2px solid  #cfcdcd;
    margin-left: 50px;
    width: 80%;
} 
 .divider{
    display:flex;
    width:90%;
    align-items: center;    
    /* justify-content: center; */
} 
.circle {
    display: flex;
    height: 70px;
    width: 70px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
img{
    width: 50%;
}
.main{
    margin-top:-4.6rem;
    margin-left:50px;
    font-size:4.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic; 
    font-weight:800;
}
.dash{
    color: hsl(259, 100%, 65%);
    
}
#tan{
    margin-bottom:-5rem;
}
.hidden {
    visibility: hidden;
    color:red;
}